apps/code/docs/browser-performance/2026-10-10/**/*.json linguist-generated=true
apps/code/docs/browser-performance/2026-10-10/**/*.svg linguist-generated=true
apps/code/docs/browser-performance/2026-10-10/**/*.html linguist-generated=true
